.register_section {
    background: #FFFCE6;
    padding: 50px 0px;
}
.register_form_inner{
    position: relative;
    border: 2px solid #FF2E17;
    padding: 50px;
}
.register_form_inner h2{
    display: inline-block;
    background: linear-gradient(to bottom, #fcb607 0%, #f18717 100%);
    padding: 10px 90px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
}
.register_form{}
.form_item{}

.single-input {
    display: inline-block;
    width: 48%;
    margin-bottom: 20px;
}
.single-input label {
    font-weight: bold;
}
.single-input input, .single-input select {
    width: 100%;
    border: 2px solid;
    padding: 10px 13px;
    font-size: 17px;
    color: #000;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
::placeholder{
    color: #000 !important;
}
.single-input select {
    background: #FFFFFF;
}
.single-submit-button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -24px;
    left: 0;
}
.single-submit-button input {
    text-transform: uppercase;
    background: linear-gradient(to bottom, #fcb607 0%, #f18717 100%);
    border: 1px solid transparent;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 50px;
    min-width: 350px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 5;
}
.single-submit-button input:hover {
    background: #111A5B;
    color: #F59712;
}


/* Start Dashboard Design */

.dashboard_site_bar {
    background: #FFFAE8;
    border-radius: 0px 0px 50px 0px;
    padding-bottom: 50px;
}

.dashboard_site_bar ul {
    padding: 20px 0px;
    list-style: none;
}
.dashboard_site_bar ul li {
    text-decoration: none;
    padding: 8px 0px 8px 65px;
    position: relative;
    display: block;
}
.dashboard_site_bar ul li:hover {
    background: #fff;
    cursor: pointer;
}
.dashboard_site_bar ul li a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.dashboard_site_bar ul li a:hover{
    text-decoration: none;
}
.dashboard_site_bar li img{
    position: absolute;
    left: 30px;
    max-width: 25px;
    top: 50%;
    transform: translateY(-50%)
}

.dashboard_content{
    background: #FFFAE8;
    margin-top:20px;
}

.user_profile_edit_btn {
    text-align: right;
    margin-top: 6px;
}
.user_profile_edit_btn a {
    background: #EC521E;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px 0px 0px 50px;
}
.user_profile_edit_btn a:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.user_details {
    padding-left: 15px;
}
.user_details p {
    margin: 4px 0px;
    font-weight: bold;
}

.user_details i{
    color: #EC521E !important;
}
.user_profile_top {
    padding: 15px 0px;
}
.user_name{
    color: #13549F;
    font-weight: bold;
}
.user_profile_image {
    padding-left: 20px;
}
.user_profile_image img {
    width: 110px;
}


/*End Dashboard Design */


/* Table Design*/

.table_header_bg{
    background: #555555 !important;
    color: #fff !important;
}

/* Table Design */

/* Start Dashboard Order Wishlist Favorite */
.order_list {
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(136,217,234,1) 92%);
    padding: 25px 0px;
    border-radius: 25px;
    box-shadow: 0 0 7px rgb(255 255 255);
    margin-top: 25px;
}
.order_list i, .wish_list i, .favorite_list i{
    font-size: 50px;
    color: #EC521E;
}
.order_list h3, .wish_list h3, .favorite_list h3{
    font-weight: bold;
}
.wish_list{
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(243,213,187,1) 92%);
    padding: 25px 0px;
    border-radius: 25px;
    box-shadow: 0 0 7px rgb(255 255 255);
    margin-top: 25px;
}
/* End Dashboard Order Wishlist Favorite */


