*:focus {
    outline: none;
}
html, body, ul, ol {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
body{
    background:#F5F5F5 !important;
}
.nav_drop_down {
    background: #fff;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 15px;
    border: 1px solid rgb(241, 241, 241);
}
.search_box {
    min-width: 450px;
    padding: 0px 25px;
}

.nav_bar_color a {
    color: #000 !important;
}

.login_btn {
    background: #4A9576;
    color: #fff;
    border: 1px solid #4A9576;
    padding: 8px 10px;
    border-radius: 5px;
}
.login_content{
    padding: 50px 0px;
    border: 1px solid #4A9576;
}
/* Start Category Item */

.category_item{
    background: #fff;
    /*border-radius: 6px;*/
}

/* End Category Item */


/* Start Modal Css */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/* End Modal Css */

/* Start Git Add to Card Design */
header {
    background: #fff;
    padding: 30px 32px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slideUp 300ms linear;
}
header .container-header {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
}
.brand .logo {
    width: 123px;
}
.search {
    margin-left: 64px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}
.search-form {
    display: flex;
    display: -webkit-flex;
}
.search-form .search-keyword {
    height: 36px;
    border: 1px solid #077915;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 385px;
}
.search-form .search-button {
    border-radius: 0 2px 2px 0;
    background: #077915 url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) center no-repeat;
    width: 96px;
}
button {
    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #077915;
    border: 0;
    font-weight: 400;
    padding: 0 16px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.cart {
    display: flex;
    display: -webkit-flex;
    margin-left: 64px;
    position: relative;
    /*z-index: 99;*/
}

.cart-info table {
    font-size: 14px;
    color: #077915;
    text-align: right;
}

.cart-info table tr {
    padding: 0;
    margin: 0;
}

.cart-icon {
    margin-left: 16px;
    z-index: 99;
    position: relative;
}

.cart-preview {
    display: none;
    background: #fff;
    border: 1px solid #ccc;
}

.cart-preview.active {
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 360px;
    height: 388px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.cart-items {
    height: 320px;
    overflow-y: auto;
    width: 360px;
}
.action-block {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 16px;
    width: 100%;
}

.cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    z-index: 1;
}
.qty-updated {
    padding-left: 50px;
}

.cart-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 8px;
}
.updateQty {
    padding: 3px 15px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #999;
}
.cart-item .product-image {
    width: 48px;
    height: 48px;
}
.cart-item .product-info {
    margin-left: 16px;
    flex-grow: 1;
}
.cart-item .product-info .product-name {
    color: #999;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.cart-item .product-info .product-price {
    color: #999;
    font-weight: 700;
    padding: 0;
    margin: 0;
    float: left;
}
.cart-item .product-total {
    margin-left: 16px;
    padding: 0;
}
.cart-item .product-total .quantity {
    color: #999;
    font-size: 14px;
    text-align: right;
    margin: 0;
    padding: 0;
}
.cart-item .product-total .amount {
    color: #333;
    font-weight: 700;
    text-align: right;
}

.cart-item .product-remove {
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    background-color: #fff;
    text-align: center;
    padding: 0;
}

.cart-item:hover{
    background-color: #effaf0;
}

.action-block {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 16px;
    width: 100%;
}
.action-block button {
    background: #fc7710;
    display: block;
    width: 100%;
}
.navbar_sections{

}
.navbar{
    padding: 0 !important;
}
.navbar_nav {
    padding: 0px 25px;
    width: 960px;
    margin: 0 auto;
}
.nav_category{
    padding-bottom: 5px;
}
.shopView {
    background: #F0741E;
    text-transform: uppercase;
    padding: 8px 20px !important;
    font-weight: 800;
    margin-left: 14px;
}
.p-18 {
    padding-left: 18px !important;
}

/*.nav-top {
    top: 107px;
}*/

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: -10px;
    margin-left: 10px;
}


.right_arrow {
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    float: right;
    margin-top: 7px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.menu_line {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    margin-right: 9px;
}

.slider_section {
    width: 960px;
    margin: 0 auto;
    padding: 15px 30px;
    height: 240px;
}

.category_nav {
    width: 28%;
    float: left;
    background: #ffff;
    margin-top: -15px;
}
.category_nav_item {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.category_nav_item:last-child {
    border-bottom: 0px solid #ddd;
}

.category_nav_item:hover {
    background: #ddd;
    cursor: pointer;
}

.category_nav_item a {
    color: #000;
}
.category_nav_item a:hover{
    text-decoration: none;
    color: #000;
}


.slider {
    width: 70%;
    float: right;
}

/*.slider_top {
    top: 118px;
}*/
.nav_bg{
    background-color: #437B17;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}

.product .product-action button.added {
    background: #fc7710;
}

.action-block button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.feature_section{
    width: 960px;
    margin: 0 auto;
    padding: 5px 30px;
}
.category {
    background: #fff;
    border-radius: 5px;
}

.category_item img{
    width: 100%;
}
.category_item:hover{
    border: 1px solid #437B17;
}
.category_item p {
    padding: 15px 0;
    color: #437B17;
}

.products-wrapper {
    padding-top: 15px;
    animation: slideUp 300ms linear;
    animation-delay: 150ms;
}
.products {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
}
.product {
    background: #fff;
    margin: 16px;
    width: 200px;
    border-radius: 2px;
}
.products .product {
    min-height: 355px;
    flex-basis: calc(25% - 32px);
    -webkit-flex-basis: calc(25% - 32px);
}
.product:nth-child(1) {
    transition-delay: 200ms;
}
.product .product-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;
}
.product .product-image img {
    cursor: zoom-in;
    width: 100%;
    height: auto;
    transition: transform 300ms ease-in;
    transform: scale(1);
}
.product .product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.product .product-action button.added {
    background: #fc7710;
}

.product .product-name, .product .product-price {
    color: #666;
    padding: 0 16px;
    text-align: center;
}

.product .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
}
.product .product-price:before {
    content: "$ ";
}
.product .product-action {
    padding: 16px;
}
.product .product-action button {
    width: 100%;
    transition: all 300ms ease-in;
}
.stepper-input {
    display: flex;
    display: -webkit-flex;
    color: #666;
    max-width: 120px;
    margin: 0 auto;
}
.stepper-input .decrement, .stepper-input .increment {
    height: 24px;
    width: 24px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.stepper-input .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

footer {
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 32px;
    background: #dddddd;
}

footer .footer-links {
    margin-bottom: 24px;
}
/* End Git Add to Card Design */


.mobile-search, .back-button {
    display: none;
}
.checkout-page {
    min-height: calc(100vh - 120px);
    /*margin-top: 20px;*/
}

.checkout-page .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
}
.order-details {
    padding: 24px;
    background: #fff;
    margin: 24px 24px 24px 0;
    border-radius: 6px;
    z-index: 1;
}
.timeline {
    text-align: center;
}
.timeline li {
    display: inline-block;
    width: 120px;
    cursor: pointer;
    position: relative;
}
.timeline li i {
    font-size: 24px;
    color: #e6e6e6;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #ccc;
}
.timeline li.active h2 {
    color: #0bc122;
}

.timeline li h2 {
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
    color: #999;
}

.timeline li:first-child:after {
    width: 60px;
    left: 60px;
}

.timeline li:after {
    content: "";
    width: 120px;
    height: 2px;
    background: #ccc;
    display: block;
    position: absolute;
    bottom: 12px;
    z-index: -1;
}

.timeline li.done {
    color: #077915;
}

.detail-container {
    margin-top: 24px;
}
.detail-container h2 {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

.detail-container .auth-message {
    padding: 48px 24px;
    border: 1px solid #fff;
    background: #f5f5f5;
    margin-bottom: 24px;
    border-radius: 8px;
}

.detail-container .auth-message p {
    margin-bottom: 24px;
    text-align: center;
}

.detail-container .auth-message button {
    background: transparent;
    text-align: center;
    color: #077915;
    border: 1px solid #077915;
    border-radius: 8px;
}
.login-btn-center{
    text-align: center;
}
.detail-container .actions {
    display: flex;
    justify-content: space-between;
}

.detail-container .actions button:first-child {
    background-color: transparent;
    color: #077915;
}

.detail-container .actions button i {
    font-size: 20px;
    vertical-align: middle;
}

.detail-container .actions button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.detail-container .actions button i {
    font-size: 20px;
    vertical-align: middle;
}
.order-summary {
    padding: 24px;
    background: #fff;
    margin: 24px 0;
    border-radius: 6px;
}
.order-summary h2 {
    padding: 16px;
    font-weight: bold;
    font-size: 24px;
}
.order-summary h2 span {
    color: #999;
    font-weight: normal;
}

.order-summary .cart-items {
    width: 300px;
    max-height: 256px;
    overflow-y: auto;
}

.order-summary .total-breakup {
    border-top: 1px solid #dddddd;
    padding-top: 24px;
    margin-top: 16px;
}

.order-summary .total-breakup li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.checkout-page .container .order-summary {
    flex-basis: 300px;
}

.timeline li h2 {
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
    color: #999;
}

.timeline li.active {
    color: #0bc122;
}
.checkout-page .container .order-details {
    flex-grow: 1;
}

.order-summary .total-breakup li h2 {
    padding: 16px 0;
}

[class^="rsc-icon-"], [class*=" rsc-icon-"] {
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    min-height: 100vh;
}
.auth-container .wrapper {
    min-width: 320px;
    text-align: center;
    padding: 32px;
    border-radius: 16px;
    background: #fff;
}

.auth-brand {
    margin-bottom: 24px;
}
.auth-brand img {
    max-width: 120px;
}

.timeline li.active i {
    color: #0bc122;
}

.rsc-icon-check_circle:before {
    content: "\e916";
}

/* End Mobile design */


/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(23% - 3px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}
.show_popup_details {
    width: 50%;
    margin: 0 auto;
}
.product .product-image .show_popup_details img{

}

.category-wrapper{
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.category-wrapper span{

}
.brand_item{
    background: #fff;
    border-radius: 6px;
}
.brand_item img {
    width: 100%;
    padding: 10px;
}
.brand_item p {
    padding: 15px 0;
    color: #000;
}

.category-brand {
    background: #437B17;
    color: #fff;
    padding: 5px 10px;
    width: 65px;
    border-radius: 5px;
}
.pageNumbers{
    list-style: none;
    display: flex;
}
.pageNumbers li {
    padding: 0px 10px;
    border: 1px solid #437B17;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.pageNumbers li.active {
    background: #437B17;
    color: #fff;
}

.pageNumbers li button {
    background: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    animation-name: nextBtnAnimation;
}

.cart-increment-decrement {
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: #999;
    font-size: 12px;
    -webkit-user-select: none;
    padding: 3px 6px;
    margin: 5px;
}

.cart-increment-decrement:hover{
    text-decoration: none;
    cursor: pointer;
}
.logout{

}

.dropdown-menu {
    right: 0 ;
}


/* Start Order Page Style */
.order-page{}
.orderPage-wrapper{
    padding-top: 15px;
    animation: slideUp 300ms linear;
    animation-delay: 150ms;
}
.order-info{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
}
/* End Order Page Style */


@keyframes nextBtnAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
}


/* Responsive Design */
@media (min-width: 992px){
    .cart-count {
        display: none;
    }
}

@media (max-width: 991px)
{
    header {
        padding: 16px;
    }
    .cart {
        margin-left: 16px;
    }
    .cart-info {
        display: none;
    }
    .cart-count {
        display: block;
        position: absolute;
        background: #fc7710;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 24px;
        border-radius: 50%;
        top: -6px;
        right: -9px;
    }
    header .container-header {
        padding: 0;
    }
}


@media (max-width: 768px){
    .slider_section {
        width: 100%;
        padding: 14px;
    }
    .feature_section {
        max-width: 100%;
        padding: 14px;
    }
    .products {
        padding: 8px;
    }
    .category_item{
        padding: 8px;
    }
    .products .product {
        flex-basis: calc(33% - 16px);
        -webkit-flex-basis: calc(33% - 16px);
        margin: 8px;
    }

}

@media (max-width: 480px){
    header {
        padding: 8px 12px;
    }
    .brand .logo {
        width: 102px;
        margin: 2px 0;
    }
    .search {
        flex-grow: initial;
        -webkit-flex-grow: initial;
        margin-left: auto;
    }
    .mobile-search {
        display: block;
        height: 36px;
        width: 36px;
    }
    .search-form {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        background: #fff;
        z-index: 100;
    }
    .slider_section {
        width: 100%;
        padding: 14px;
    }
    .products-wrapper {
        padding-top: 0;
    }

    .products .product {
        flex-basis: calc(50% - 16px);
        -webkit-flex-basis: calc(50% - 16px);
        min-height: 313px;
    }
    .feature_section {
        max-width: 100%;
        padding: 14px;
    }
    .category_item{
        padding: 8px;
        max-width: 100%;
    }

    .category_item img {
        width: 100%;
    }
    .products .product .product-action {
        padding: 16px 8px;
    }
}

@media (max-width: 400px){
    .cart-preview.active {
        top: 45px;
        width: 100%;
        min-width: 300px;
    }
    .cart-preview.active .cart-items {
        width: 100%;
    }
}




